* {
  color: aliceblue;
}

.form-tarefa {
  width: 100%;
  text-align: center;
}

input {
  width: 200px;
}

a {
  cursor: pointer;
}

.lista {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

h2 {
  text-align: center;
}

.button1 {
  background-color: #008CBA;
}

.button2 {
  background-color: #4CAF50;
}

.button3 {
  background-color: #555555;
}

.button4 {
  background-color: #f44336;
}

tr {
  text-align: center;
}